VITE_API_BASE_URL=https://laravel-app-114227311375.asia-southeast1.run.app/api/v1
VITE_REVERB_APP_KEY=local
VITE_REVERB_HOST=https://laravel-app-114227311375.asia-southeast1.run.app
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http